<% provide(:title, "| Home") %>


<div>
	
	<p> Main Pic and heading</p>

</div>

<div> 

  <p> Find out more </p>

</div>


<section>

<div> Exercise </div>
<div>	CE	   </div>
<div>  Meals   </div>

</section>



<p> FOOTER </p>