<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                     <%= image_tag "logo.png", class: "img-responsive center-block"  %> 
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>More About Us</h3>

                        <p>  Blog </p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.facebook.com/pages/Reel-Movement/534012316728422" class="icon-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="icon-instagram"> </a>
                            </li>
                            <li>
                                <a href="#" class="icon-youtube"> </a>
                            </li>
                            <li>
                                <a href="#" class="icon-pinterest"></a>
                            </li>
                            <li>
                                <a href="#" class="icon-twitter"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact Us</h3>

                            <p> <span class= "glyphicon glyphicon-envelope"> </span> Reelmovementllc.gmail.com </p> 

                        <ul class= "list-unstyled">
                            <li> Terms of policy</li>
                            <li> Privacy policy</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Reel Movement LLC 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>




</html>
